html {
	font-size: 18px;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
* {
	box-sizing: border-box;
}

.game-area {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

#render-view {
	border: 1px solid green;
}

.animation-selector {	
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.animation-selector > * {
	font-size: 2rem;
}